:root {
	--color-primary: var(--color-beige);
	--color-primary-varient: var(--color-beige);
	--color-text: var(--color-black);
	--color-accent: #fff;

	--color-beige: #fffbf6;
	--color-black: #0b0b0b;

	--space-1: 0.5rem;
	--space-2: 1rem;
	--space-3: 1.5rem;
	--space-4: 2rem;

	--size-1: 1rem;
	--size-2: 1.25rem;
	--size-3: 1.5rem;
	--size-4: 1.75rem;
	--size-5: 2rem;

	--border-radius-small: 4px;
	--border-radius-medium: 8px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

/* common */
.max-container {
	max-width: 48rem;
}

/* header */
.main-header {
	/* font-family: 'Zilla Slab', sans-serif; */
	padding: var(--space-2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	color: var(--color-text);
}

.main-header__menu {
	display: flex;
	gap: var(--space-4);
}

.main-header__title {
	font-weight: normal;
	position: absolute;
	top: var(--space-2);
	left: 50%;
	transform: translateX(-50%);
	color: var(--color-text);
}

.main-header__shop {
	display: flex;
	gap: var(--space-2);
}

/* overview */

#overview {
	background-color: var(--color-beige);
	padding: 6rem 2rem 2rem 2rem;
}

.overview {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	height: 25rem;
	gap: 2rem;
}

.overview__text-container {
	grid-column: span 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.overview__title {
	margin-bottom: 1rem;
	font-size: 2rem;
}

.overview__subtitle {
	font-size: 1rem;
}

.overview__image-container {
	background: no-repeat center/cover url('/images/main-image4.jpeg');
	grid-column: span 1;
	border-radius: var(--border-radius-medium);
}
