@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
	font-family: 'Alloylnk';
	src: url('/fonts/alloyInk.ttf');
}

:root {
	--color-primary-400: #ffadfc;

	--color-white-400: #ffffff;

	--color-green-400: #1abd2f;

	--space-1: 0.5rem;
	--space-2: 1rem;
	--space-3: 1.5rem;
	--space-4: 2rem;

	--size-1: 1rem;
	--size-2: 1.25rem;
	--size-3: 1.5rem;
	--size-4: 1.75rem;
	--size-5: 2rem;

	--border-radius-small: 4px;
	--border-radius-medium: 8px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
}

.main-header {
	font-family: 'Alloylnk', 'Noto Sans KR', sans-serif;
	padding: var(--space-1);
	/* background-color: var(--color-primary-400); */
	color: var(--color-primary-400);
	text-align: center;
}

.main-header__title {
	margin: 0;
}

.overview {
	background: no-repeat center / cover url('../images/main-image4.jpeg');
	color: var(--color-white-400);
	height: 20rem;
	position: relative;
}

.overview__wrap {
	position: absolute;
	bottom: var(--space-1);
	right: var(--space-1);
}

.overview__title {
	font-size: var(--size-3);
	margin: 0;
	margin-bottom: var(--space-1);
}

.overview__subtitle {
	font-size: var(--size-2);
	margin: 0;
	margin-bottom: var(--space-1);
}

.overview__link {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: var(--space-1);
	border-radius: var(--border-radius-small);
	background-color: var(--color-green-400);
	color: white;
}

.overview__image {
	vertical-align: middle;
	width: 2rem;
}

.intro {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.intro__title {
	font-size: var(--size-2);
}

.intro__description {
	font-weight: bold;
}

.intro__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
